body.general {
  background: linear-gradient(272deg, #5ea4dd, #114963, #CCF5F4);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

section::before,
section::after{
  /*required for after content loading*/
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-position: 0 0;
}

section.content{
  background-color: transparent;
  display: grid;
  padding-top: 3em;
}

button:hover {
  font-size: 16px;
  letter-spacing: 2px;
}

nav.buttons{
  background-color: transparent;
  flex-direction: row;
  position: relative;
  top: -10px;

}

section.foot{
background-color: transparent;
background-image:
  url(dragon.jpg);
background-position: 100% 100%;
background-size: cover;
height: 834px;
}

section::before{
  top: 0;

  background-image:
    url(dragon.jpg),
    url(banner.png),
    linear-gradient(to right, grey 1px, transparent 1px);

  background-repeat: no-repeat,
                     no-repeat, no-repeat;
  background-size: cover, 250px 120px;

  background-position: 0 -40px,
                       0 0;
  animation: move 30s infinite cubic-bezier(.79,.14,.15,.86);
}

section::after{
  top: 0;

  background-image:
  linear-gradient(to right, grey 1px, transparent 1px),
    url(dragon.jpg),
    url(banner.png);

  height: 200px;

  background-blend-mode: difference, darken;

  background-repeat: no-repeat,
                     no-repeat;
  background-size: cover, auto 60px;
                   
  background-position: 0 -40px,
                       0 0;
  animation: move 15s infinite cubic-bezier(.69,.24,.15,.86);
}

@keyframes move2{
  to{ background-position-x: -120px; }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-size: 100% 100%;
  background-color: transparent;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

h1{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
  padding: 20px;
}

/* Style the footer */
footer {
  background-color: transparent;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/*animated background coloring*/
@-webkit-keyframes AnimationName {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@keyframes AnimationName {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}

/*movement direction*/
@keyframes move{
  to{ background-position-x: 100%; }
}

h1.font {
font-family: "Times New Roman", Times, serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: black;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
}

a {
  color: red;
}
a:hover {
  background-color: white;
  color: black;
}

h2.font {
font-family: "Times New Roman", Times, serif;
font-size: 15px;
letter-spacing: 2px;
word-spacing: 2px;
color: white;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
}

table.lightblue {
  border: 2px solid #1C6EA4;
  background-color: #CCF5F4;
  width: 100%;
  height: 300px;
  text-align: left;
  border-collapse: collapse;
}
table.lightblue td, table.lightblue th {
  border: 2px solid #AAAAAA;
  padding: 0px 10px;
}
table.lightblue tbody td {
  font-size: 13px;
  color: #333333;
}
table.lightblue tr:nth-child(even) {
  background: #D0E4F5;
}
table.lightblue thead {
  background: #329FA4;
  background: linear-gradient(to top, #65b7bb 0%, #46a8ad 66%, #329FA4 100%);
  background: -webkit-linear-gradient(top, #65b7bb 0%, #46a8ad 66%, #329FA4 100%);
  background: linear-gradient(to bottom, #65b7bb 0%, #46a8ad 66%, #329FA4 100%);
  border-bottom: 2px solid #444444;
}
table.lightblue thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #D0E4F5;
}
table.lightblue thead th:first-child {
  border-left: none;
}

table.lightblue tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: linear-gradient(to top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.lightblue tfoot td {
  font-size: 14px;
}
table.lightblue tfoot .links {
  text-align: right;
}
table.lightblue tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}