body.general {
background: #CCF5F4;
}
h1.font {
font-family: "Times New Roman", Times, serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #1C6EA4;
font-weight: 800;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
}

table.lightblue {
  border: 2px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  height: 300px;
  text-align: left;
  border-collapse: collapse;
}
table.lightblue td, table.lightblue th {
  border: 2px solid #AAAAAA;
  padding: 0px 10px;
}
table.lightblue tbody td {
  font-size: 13px;
  color: #333333;
}
table.lightblue tr:nth-child(even) {
  background: #D0E4F5;
}
table.lightblue thead {
  background: #329FA4;
  background: -moz-linear-gradient(top, #65b7bb 0%, #46a8ad 66%, #329FA4 100%);
  background: -webkit-linear-gradient(top, #65b7bb 0%, #46a8ad 66%, #329FA4 100%);
  background: linear-gradient(to bottom, #65b7bb 0%, #46a8ad 66%, #329FA4 100%);
  border-bottom: 2px solid #444444;
}
table.lightblue thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #D0E4F5;
}
table.lightblue thead th:first-child {
  border-left: none;
}

table.lightblue tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.lightblue tfoot td {
  font-size: 14px;
}
table.lightblue tfoot .links {
  text-align: right;
}
table.lightblue tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}